{% extends 'templates/app.twig' %}

{% block content %}
    <h1>List of all users</h1>
    <div><a href="{{ path_for('register') }}" class="btn btn-info">Add new user</a></div>
    <div class="usertable">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Familyname</th>
                    <th>Password</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                    <th>Role</th>
                    <th>Verified</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if userTable %}
                    {% for user in userTable %}
                        <tr>
                            <form action="{{ path_for('usertable.post') }}" method="post">
                                <td>{{ user.getId }} <input type="hidden" name="id" value="{{ user.getID }}"></td>
                                <td>{{ user.getUsername }}</td>
                                <td>{{ user.getEmail }}</td>
                                <td>{{ user.getName }}</td>
                                <td>{{ user.getFamilyname }}</td>
                                <td>*************************</td>
                                <td>{{ user.getCreatedAt }}</td>
                                <td>{{ user.getUpdatedAt }}</td>
                                <td>{{ user.getRole }}</td>
                                <td>{{ user.getVerified ? 'yes' : 'no' }}</td>
                                <td><a href="{{ path_for('changeData', {'id':user.getId}) }}" class="btn btn-info">Edit</a></td>
                                <td><button type="submit" class="btn btn-info">Delete</button></td>
                            </form>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>No records found</p>
                {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}